<%= form_for([:admin, @exam]) do |f| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

      <ul>
      <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {:prompt => 'เลือกหมวดหมู่'}) %>
  </div>
  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
  <div class="field">
    <%= f.label :order %>
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, col: 10, style: 'width: 100%' %>
  </div>
  <div class="field">
    <%= f.label :time %>
    <%= f.number_field :time %>
  </div>
  <div class="field">
    <%= f.label :pdf_question %>
    <%= f.text_field :pdf_question %>
  </div>
  <div class="field">
    <%= f.label :pdf_solution %>
    <%= f.text_field :pdf_solution %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
