<p id="notice"><%= notice %></p>

<h1>Listing tests</h1>
<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Slug:</b>
  <%= @category.slug %>
</p>

<p>
  <b>Order:</b>
  <%= @category.order %>
</p>

<p>
  <b>Description:</b>
  <%= @category.description %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Order</th>
    <th>Order</th>
    <th>Description</th>
    <th>Time</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tests.each do |test| %>
  <tr>
    <td><%= test.name %></td>
    <td><%= test.slug %></td>
    <td><%= test.order %></td>
    <td><%= test.description %></td>
    <td><%= test.time %></td>
    <td><%= test.category.name %></td>
    <td><%= link_to 'Show', test %></td>
    <td><%= link_to 'Edit', edit_test_path(test) %></td>
    <td><%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
