<h1>เลือกชุดข้อสอบ</h1>
<% @exams.each do |exam| %>
<div class="well">
  <div class="row-fluid">
    <div class="span8">
      <h3><a href="<%= exam_path(exam) %>"><%= exam.name %></a></h3>
      <p><%= exam.category.name %></p>
    </div>
    <div class="span4">
        <p>
          เวลาที่ใช้: <%= exam.time %> นาที<br>
          จำนวนข้อ: <%= exam.questions.count %> ข้อ<br>
          คะแนนเต็ม: <%= exam.points %> คะแนน
        </p>
    </div>
  </div>
</div>
<% end %>