<!DOCTYPE html>
<html>
<head>
  <title>Quiz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet/less" type="text/css" href="http://www.clipvidva.com/wp-content/themes/clipvidva2/css/style.less" />
  <script src="http://www.clipvidva.com/wp-content/themes/clipvidva2/js/less.js" type="text/javascript"></script>
</head>
<body>
<div id="header">
<div class="container">
<div class="logo">
<a href="http://www.clipvidva.com"><img src="http://www.clipvidva.com/wp-content/themes/clipvidva2/img/img_logo.png" alt=""></a>
</div><!--logo-->
<div class="socials">
<ul>
<li><a href="http://www.facebook.com/clipvidva" title="" data-original-title="กดไลค์เพื่อติดตามข่าวสารจากทางเว็บไซต์"><img src="http://www.clipvidva.com/wp-content/themes/clipvidva2/img/icon_fb.png" alt=""></a></li>
<li><a href="http://www.twitter.com/clipvidva" title="" data-original-title="follow รับข่าวสารล่าสุด"><img src="http://www.clipvidva.com/wp-content/themes/clipvidva2/img/icon_twitter.png" alt=""></a></li>
<li><a href="http://www.youtube.com/clipvidva" title="" data-original-title="กด subscribe เพื่อดูคลิปล่าสุดเป็นคนแรก"><img src="http://www.clipvidva.com/wp-content/themes/clipvidva2/img/icon_youtube.png" alt=""></a></li>
<li><a href="" title="" data-toggle="modal" data-target="#search-box" data-original-title="ค้นหาคลิปและเอกสารต่างๆ ภายในเว็บไซต์"><img src="http://www.clipvidva.com/wp-content/themes/clipvidva2/img/icon_search.png" alt=""></a></li>
</ul>
</div>
<div class="clear visible-phone"></div>
<a class="btn btn-navbar visible-phone" data-toggle="collapse" data-target=".nav-collapse">
เมนู <i class="icon-chevron-down"></i>
</a>
<div class="nav-collapse collapse">
<ul class="nav">
<li>
<a class="dropdown-toggle" data-toggle="dropdown" href="http://www.clipvidva.com/subjects/">คลิป <i class="icon-caret-down"></i></a>
<ul class="dropdown-menu" role="menu" aria-labelledby="คลิป">
<li><a href="http://www.clipvidva.com/subjects/hsmaths/"><i class="icon-list-alt"></i> คณิตศาสตร์ ม.ปลาย</a></li>
<li><a href="http://www.clipvidva.com/subjects/hsphysics/"><i class="icon-cog"></i> ฟิสิกส์ ม.ปลาย</a></li>
<li><a href="http://www.clipvidva.com/subjects/physics1/"><i class="icon-plane"></i> ฟิสิกส์ระดับมหาวิทยาลัย 1</a></li>
<li><a href="http://www.clipvidva.com/subjects/physics2/"><i class="icon-magnet"></i> ฟิสิกส์ระดับมหาวิทยาลัย 2</a></li>
<li><a href="http://www.clipvidva.com/subjects/askeng/"><i class="icon-comment"></i> ถามวิศวะ</a></li>
<li><a href="http://www.clipvidva.com/subjects/"><i class="icon-folder-open"></i> ดูคลิปทั้งหมด</a></li>
</ul>
</li>
<li><a href="http://www.clipvidva.com/news/">ข่าว/บทความ</a></li>
<li>
<a class="dropdown-toggle" data-toggle="dropdown" href="http://www.clipvidva.com/sheets/">เอกสาร <i class="icon-caret-down"></i></a>
<ul class="dropdown-menu" role="menu" aria-labelledby="เอกสาร">
<li><a href="http://www.clipvidva.com/calculus1-solutions/"><i class="icon-list"></i> เฉลยแบบฝึกหัด Calculus 1</a></li>
<li><a href="http://www.clipvidva.com/calculus2-solutions/"><i class="icon-list"></i> เฉลยแบบฝึกหัด Calculus 2</a></li>
<li><a href="http://www.clipvidva.com/linear-algebra-pdf/"><i class="icon-file"></i> Linear Algebra ระดับมหาวิทยาลัย</a></li>
<li><a href="http://www.clipvidva.com/sheets/"><i class="icon-folder-open"></i> ดูเอกสารทั้งหมด</a></li>
</ul>
</li>
<li><a href="http://www.clipvidva.com/forums/">เว็บบอร์ด</a></li>
<li><a href="http://www.clipvidva.com/about/">เกี่ยวกับเรา</a></li>
<li><a href="http://www.clipvidva.com/faq/">FAQ</a></li>
</ul>
</div><!--nav-->
</div><!--container-->
</div>
<p>
	<a href="<%= categories_path %>">Categories</a>
  <a href="<%= exams_path %>">Exams</a>
	<a href="<%= records_path %>">Records</a>
</p>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout '+current_user.email, destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Sign up', new_user_registration_path %>
    </li>
  <% end %>
</ul>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="container">
<%= yield %>
</div>
</body>
</html>
